// Font family

$fontstyle1: 'Dancing Script', cursive;
$fontstyle2: 'Archivo Black', sans-serif;
$fontstyle3: 'Sacramento', cursive;
$fontstyle4: 'Viga', sans-serif;
$fontstyle5: 'Bad Script', cursive;
$fontstyle6: 'Contrail One', cursive;
$fontstyle7:  'Exo', sans-serif;

// Font color

$primary: #FF6060;
